.goal__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.goal__description.position-top {
  bottom: 100%;
}
.goal__description.position-top .goal__line {
  margin-top: 8px;
}
.goal__description.position-bottom {
  top: 100%;
  padding-top: 2px;
}
.goal__description.position-bottom .goal__line {
  margin: 8px 0;
}
.goal__line {
  height: 16px;
  width: 2px;
  border-radius: 2px;
  background-color: #3c7f90;
}
.goal__time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 36px;
  opacity: 0.6;
}
.goal__time--initial {
  width: 71px;
}

.goal__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: 130px;
  height: 136px;
  border-radius: 5px;
  background: #173f4b;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.goal__card.position-bottom::after, .goal__card.position-top::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 6px;
  width: 14px;
  background-color: #173f4b;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
}
.goal__card--final {
  height: 194px;
  background: #3c7f90;
  transform: translateX(calc(-50% + 16px));
}
.goal__card--final.position-bottom::after {
  background-color: #3c7f90;
  left: calc(100% - 16px);
}
.goal__card.position-top {
  margin-bottom: 6px;
}
.goal__card.position-top::after {
  top: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.goal__card.position-bottom {
  margin-top: 6px;
}
.goal__card.position-bottom::after {
  bottom: 100%;
  -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
          clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
.goal__card img {
  display: block;
  margin: 0 auto;
}
.goal__card .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100px;
  margin-top: 8px;
  text-align: center;
}

.timeline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.timeline__step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.timeline__bubble {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 18px;
  margin: 6px 0;
}
.timeline__bubble--default {
  height: 8px;
  width: 8px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 8px;
  background: #00b897;
}
.timeline__bubble--initial {
  height: 100%;
  width: 18px;
  margin-left: 4px;
  margin-right: 4px;
  border: 5px solid #00b897;
  border-radius: 18px;
  background: transparent;
}
.timeline__bubble--invisible {
  height: 100%;
  width: 0;
  background: transparent;
}
.timeline__bubble--final {
  margin-left: -6px;
}

.timeline__connector--solid {
  height: 2px;
  background: #ffffff;
  border-radius: 2px;
}
.timeline__connector--dashed {
  height: 2px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='2' viewBox='0 0 8 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1H2' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  background-position: top left;
  background-size: auto;
  background-repeat: repeat-x;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

p {
  margin: 0;
  line-height: 130%;
}/*# sourceMappingURL=App.css.map */